###

In [1]:
print('Hello World')

Hello World

In [2]:
print('A')

A

In [8]:
value = input("값을 입력해주세요.")

값을 입력해주세요.5

In [9]:
print(value)

5

In [10]:
x = 10

In [11]:
x

10

In [12]:
x,y,z = 10, 20, 30

In [13]:
x,y,z

(10, 20, 30)

# 1.정수형

In [14]:
type(10)

int

In [15]:
type(10.0)

float

In [20]:
a = 2
b = 3
a, b

(2, 3)

In [21]:
a + b

5

In [22]:
a - b

-1

In [23]:
a * b

6

In [24]:
a ** 3

8

In [26]:
a, b = 7, 3.0

In [27]:
a, b = 7, 3.0

c = a // int(b)
d = a % int(b)
e = a ** int(b)

c, d, e

(2, 1, 343)

In [28]:
c = a // b
d = a % b
e = a ** b

c, d, e

(2.0, 1.0, 343.0)

In [31]:
mike = 80
judy = 75
sera = 100

avg = (int)((mike + judy + sera) / 3)

avg

85

# Bool (True, Flase)

In [32]:
a = True
a

True

In [33]:
b = False
b

False

In [35]:
type(a)

bool

# 비교 연산자

In [36]:
a, b = 1 , 2

In [37]:
print(a<b) # True
print(a<=b) # True
print(a>b) # False
print(a>=b) # False
print(a==b) # Flase
print(a!=b) # True

True
True
False
False
False
True

In [38]:
print(True and True) # True
print(True and False) # False
print(False and False) # False

print(True or True) # True
print(True or False) # True
print(False or False) # False

print(not True) # False
print(not False) # True

True
False
False

In [40]:
a = 10
print(a>10 or a == 10) #True

True

In [41]:
not a > 10 # True

True

In [45]:
user1 = input("점수를 입력해주세요.")
user2 = input("점수를 입력해주세요.")
user3 = input("점수를 입력해주세요.")

print(int(user1) > 65 and int(user2) > 65 and int(user3) > 65)

점수를 입력해주세요.97
점수를 입력해주세요.99
점수를 입력해주세요.45
False

# NoneType

In [ ]:
x = None

In [47]:
print(x)

In [48]:
type(x)

None

# String

In [56]:
quote1 = "안녕하세요. 저는 최민기입니다."
print(quote1)
type(quote1)

안녕하세요. 저는 최민기입니다.

str

In [55]:
quote2 = '안녕하세요. 저는 최민기입니다.'
print(quote2)
type(quote2)

안녕하세요. 저는 최민기입니다.

str

In [58]:
quote3 = """안녕하세요
저는 최민기입니다.""" # 줄바꿈을 인식하고 싶을때
print(quote3)

안녕하세요
저는 최민기입니다.

# 연산자

In [64]:
a = '사과'
b = '과일'
print(a+b)
print(a*3)

사과과일
사과사과사과

In [67]:
quote3 = "안녕하세요\n저는 최민기입니다." # 줄바꿈을 인식하고 싶을때
print(quote3)

안녕하세요
저는 최민기입니다.

In [88]:
quote = '안녕하세요. 최민기입니다.'
quote

'안녕하세요. 최민기입니다.'

In [96]:
quote[:-1]

'안녕하세요. 최민기입니다'

In [97]:
quote[1:-4:3]

'녕요최'

In [100]:
a = "20190505chicken19000"

#code 작성
year = a[0:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

# 문자열 포맷팅

In [106]:
name = '최민기'
major = 'Computer'

intro = '안녕하세요. %s입니다. 전공은 %s입니다.' %(name , major)
intro

'안녕하세요. 최민기입니다. 전공은 Computer입니다.'

In [108]:
intro = '안녕하세요. {}입니다. {}전공은 입니다.'.format(name, major)
intro

'안녕하세요. 최민기입니다. Computer전공은 입니다.'

In [109]:
intro = '안녕하세요. {1}입니다. {0}전공은 입니다.'.format(name, major)
intro

'안녕하세요. Computer입니다. 최민기전공은 입니다.'

In [112]:
pi = 3.14159
pi_def = 'PI는 %f입니다.' %pi
pi_def

'PI는 3.141590입니다.'

In [117]:
f'PI는 {pi}입니다.'

'PI는 3.14159입니다.'

In [140]:
a = "90:30:80"
math = int(a[:2])
english = int(a[3:5])
science = int(a[6:])

average = (math + english + science) / 3
print("평균 점수는 %d입니다." %average)

평균 점수는 66입니다.

# 문자열 함수

In [142]:
quote = '안녕하세요. 최민기입니다.'
quote

'안녕하세요. 최민기입니다.'

In [143]:
len(quote)

14

In [144]:
quote.index("녕")

1

In [147]:
"Apple".upper()

'APPLE'

In [149]:
"APPLE".lower()

'apple'

In [150]:
quote.replace(".", "?") # 실제 값이 바뀌는것은 아님

'안녕하세요? 최민기입니다?'

In [151]:
quote.count(".")

2

In [156]:
a = "     안녕하세요    "
a.lstrip()
a.rstrip()
a.strip()

'안녕하세요'

In [161]:
scores = "10:20:50:80:88"
b = scores.split(":")
b

['10', '20', '50', '80', '88']

In [182]:
a = "  90:30:80  "

b = a.strip()
c = b.split(":")
print("math, english, science = %s" %c)

#average = (int(c[0]) + int(c[1]) + int(c[2])) / 3
#math, english, science = c.split(",")
math, english, science = list(map(int, c))
avg = (math + english + science) / 3
print("average = %d" %average)

math, english, science = ['90', '30', '80']
average = 66

# List

In [ ]:
a = [1, 3.14, 'Apple', ['a','b','c']]

In [183]:
c = list()
c

[]

# range

In [184]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [185]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [186]:
list1 = list(range(3, 30, 3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

# list update

In [192]:
list1 = list(range(3, 30, 3))
list1[1:4] = ['b', 'c', 'd']
list1

[3, 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [194]:
list1 = list1 = list(range(3, 30, 3))
del list1[-1]
list1

[3, 6, 9, 12, 15, 18, 21, 24]

In [198]:
list1 = list(range(3, 30, 3))
list1[0:4] = ['a', 'b', 'c', 'd']
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [200]:
'a' in list1

True

In [202]:
'e' in list1

False

In [203]:
'a' not in list1

False

In [204]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [205]:
list1 + [10, 20]

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27, 10, 20]

In [206]:
print(list1 * 3)

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27, 'a', 'b', 'c', 'd', 15, 18, 21, 24, 27, 'a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [207]:
len(list1)

9

In [211]:
list1.append(30)
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27, 30, 30]

# 리스트 함수

In [213]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [214]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a']

In [215]:
list1.extend(['b, c'])
list1

[0, 1, 2, 3, 4, 'a', 'b, c']

In [216]:
# extend => += 과 동일
# list1.exten([1,2])
# llist1 = list1 + [1,2]

In [217]:
list1.append([3, 4]) # 리스트 자체가 들어가버림
list1

[0, 1, 2, 3, 4, 'a', 'b, c', [3, 4]]

# pop&remove

In [219]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [220]:
a = list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [221]:
b = list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [222]:
list1.remove(2)
list1

[0, 3]

# insert

In [223]:
list1

[0, 3]

In [225]:
list1.insert(1, 'a')
list1

[0, 'a', 'a', 3]

# count & sort  & reverse & index

In [226]:
list1 = [1, 1, 2, 2, 3, 4]
list1

[1, 1, 2, 2, 3, 4]

In [229]:
list1.count(1), list1.count(3)

(2, 1)

In [230]:
list1.index(2)

2

In [231]:
list1.reverse()
list1

[4, 3, 2, 2, 1, 1]

In [232]:
list1.sort()
list1

[1, 1, 2, 2, 3, 4]

In [234]:
list1.sort(reverse=True)
list1

[4, 3, 2, 2, 1, 1]

In [235]:
list1

[4, 3, 2, 2, 1, 1]

In [236]:
tuple1 = tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [237]:
tuple1.index(2)

2

# List 복사

In [238]:
list1 = list(range(8))
list1

[0, 1, 2, 3, 4, 5, 6, 7]

In [239]:
list2 = list1
list2

[0, 1, 2, 3, 4, 5, 6, 7]

In [241]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 5, 6, 7, 10, 10]

In [242]:
list1

['a', 1, 2, 3, 4, 5, 6, 7, 10, 10]

In [243]:
a = 10
b = a
a , b

(10, 10)

# copy

In [245]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [248]:
list2 = list1.copy()
list2

[0, 1, 2, 3, 4]

In [249]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [250]:
list1

[0, 1, 2, 3, 4]

In [251]:
list1 = [ [1,2,3] , [4,5,6], [7,8,9]]

In [252]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [253]:
list2[0][1] = 'a'

In [254]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

# deepcopy

In [255]:
list1 = [ [1,2,3] , [4,5,6], [7,8,9]]

In [256]:
import copy

In [257]:
list2 = copy.deepcopy(list1)

In [259]:
list2[0][0] = 'a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [260]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Dictionary

In [261]:
a = {}
type(a)

dict

In [263]:
profile = {
    'name' : '최민기',
    'city' : 'seoul',
    'height' : 171
}

In [264]:
profile["name"]

'최민기'

In [265]:
profile["city"]

'seoul'

In [266]:
profile["height"]

171

In [269]:
profile =  dict(
    name = '최민기',
    city = 'seoul',
    height = 171
)

In [271]:
profile['name']

'최민기'

In [273]:
profile =  dict(
    name = '최민기',
    city = 'seoul',
    height = 171,
    friends = ['MinSoo', 'Judy', 'Poli']
)

In [274]:
profile['friends']

['MinSoo', 'Judy', 'Poli']

In [275]:
'최민기' in profile

False

In [276]:
'name' in profile

True

In [277]:
profile.setdefault("age", 28)

28

In [278]:
profile["age"]

28

In [281]:
dict.update?

In [284]:
profile['math_score'] = 10

In [285]:
profile

{'name': '최민기',
 'city': 'seoul',
 'height': 171,
 'friends': ['MinSoo', 'Judy', 'Poli'],
 'age': 28,
 'math_score': 10}

In [286]:
profile.setdefault("english_score", 80)

80

In [287]:
profile

{'name': '최민기',
 'city': 'seoul',
 'height': 171,
 'friends': ['MinSoo', 'Judy', 'Poli'],
 'age': 28,
 'math_score': 10,
 'english_score': 80}

In [288]:
profile.setdefault("english_score", 50)
profile

{'name': '최민기',
 'city': 'seoul',
 'height': 171,
 'friends': ['MinSoo', 'Judy', 'Poli'],
 'age': 28,
 'math_score': 10,
 'english_score': 80}

In [289]:
profile.update(
{
    'math_score' : 50,
    'height' : 190
})

In [290]:
profile

{'name': '최민기',
 'city': 'seoul',
 'height': 190,
 'friends': ['MinSoo', 'Judy', 'Poli'],
 'age': 28,
 'math_score': 50,
 'english_score': 80}

In [292]:
profile.get('name')

'최민기'

In [297]:
print(profile.get('comment'))

None

In [305]:
profile.get('comment', [])

[]

In [306]:
height = profile.pop('height')
print(height)
print(profile)

190
{'name': '최민기', 'city': 'seoul', 'friends': ['MinSoo', 'Judy', 'Poli'], 'age': 28, 'math_score': 50, 'english_score': 80}

In [307]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'age', 'math_score', 'english_score'])

In [308]:
profile.values()

dict_values(['최민기', 'seoul', ['MinSoo', 'Judy', 'Poli'], 28, 50, 80])

In [309]:
profile.items()

dict_items([('name', '최민기'), ('city', 'seoul'), ('friends', ['MinSoo', 'Judy', 'Poli']), ('age', 28), ('math_score', 50), ('english_score', 80)])

In [310]:
profile.clear()
profile

{}

# Set

In [316]:
set1 = {1, 2, 3, 3, 3, 3, 3}
set1

{1, 2, 3}

In [317]:
list1 = [1, 2, 3, 3, 3, 3]
set(list1)

{1, 2, 3}

In [318]:
set1 = { 1, 2, 3 }
set2 = { 3, 4, 5 }
set1, set2

({1, 2, 3}, {3, 4, 5})

# 집합 연산자 & 함수

In [319]:
set1 | set2

{1, 2, 3, 4, 5}

In [322]:
set.union(set1, set2)

{1, 2, 3, 4, 5}

In [321]:
set1 & set2

{3}

In [324]:
set.intersection(set1, set2)

{3}

In [325]:
set1 - set2

{1, 2}

In [326]:
set.difference(set1, set2)

{1, 2}

In [327]:
set1 ^ set2

{1, 2, 4, 5}

In [328]:
set.symmetric_difference(set1, set2)

{1, 2, 4, 5}

In [329]:
{1} <= set1

True

In [330]:
set1 <= set2

False

In [333]:
set1 <= { 1, 2, 3 }

True

In [334]:
set1.issubset(set2)

False

In [335]:
set1.issuperset(set2)

False

In [337]:
set1.isdisjoint({4,5,6})

True

In [338]:
set1.isdisjoint({3, 4, 5})

False

# 제어문

In [339]:
x = 10

In [341]:
if x == 10:
    print('x는 10입니다.')

x는 10입니다.

In [344]:
if x == 10:
    print('x는 10입니다.')
    print('end code block')

x는 10입니다.
end code block

In [345]:
if x != 10:
    print('x는 10이 아닙니다.')

In [346]:
if x > 3 and x < 20:
    print('x는 3보다 크고 20보다 작습니다.')

x는 3보다 크고 20보다 작습니다.

In [347]:
if x > 3:
    print('x는 3보다 큽니다.')
    if x >= 10:
        print('x는 10보다 크거나 같습니다.')
    if x < 20:
        print('x는 20보다 작습니다.')

x는 3보다 큽니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [349]:
x = 3

if x > 5:
    print('x는 5보다 큽니다.')
else:
    print('x는 5보다 작거나 같습니다.')

x는 5보다 작거나 같습니다.

In [352]:
x = -1

if x > 5:
    print('x는 5보다 큽니다.')
elif x > 2:
    print('x는 2보다 큽니다.')
elif x > 0:
    print('x는 0보다 큽니다.')
else:
    print('x는 음수입니다.')

x는 음수입니다.

In [366]:
while True:
    
    user1 = int(input("첫번째 점수를 입력하세요."))
    
    if 0 <= user1 <= 100:
        break
    else:
         print("잘못된 점수가 입력되었습니다.")
            
while True:
    
    user2 = int(input("두번째 점수를 입력하세요."))
    
    if 0 <= user2 <= 100:
        break
    else:
         print("잘못된 점수가 입력되었습니다.")

while True:
    
    user3 = int(input("첫번째 점수를 입력하세요."))
    
    if 0 <= user3 <= 100:
        break
    else:
         print("잘못된 점수가 입력되었습니다.")

if user1 > 65 and user2 > 65 and user3 > 65:
    print("합격")
else:
    print("불합격")

점수를 입력하세요.23
점수를 입력하세요.23
점수를 입력하세요.23
불합격

In [376]:
user = int(input("정수를 입력하세요."))

if user == 0:
    print("{} 짝수입니다.".format(user))
elif user % 2 == 0:
    print("{} 짝수입니다.".format(user))
else:
    print("{} 홀수입니다.".format(user))

정수를 입력하세요.1
1홀수입니다.

In [379]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [381]:
for i in ['a', 'b', 'c']:
    print(i)

a
b
c

In [384]:
profile = {
    "name" : "최민기",
    "height" : 180,
    "city" : "seoul"
}

for i in profile:
    print(i)

name
height
city

In [11]:
user1 = int(input("정수를 입력해주세요"))

for i in range(user1):
    print('안녕')

정수를 입력해주세요5
안녕
안녕
안녕
안녕
안녕

In [9]:
cnt = 0

for i in range(5):
    cnt = cnt + 1
    
    for j in range(cnt):
        print('*', end ='')
    print()

*
**
***
****
*****